#ads-layout {
    .card {
        padding: 0;
        font-size: 12px;
        .card-body {
            padding: 0;
            
            .c-active span {
                display: inline-block;
                width: 10px;
                height: 10px;
                background: green;
                border-radius: 100%;
            }

            section.sc-active-wrap, section.sc-desc-wrap {
                border-bottom: 1px solid #e1e1e1;
                padding: 5px 10px;
            }

            .sc-active-wrap .c-id {
                color: gray;
            }
            .c-brand a {
                text-transform: uppercase;
                font-weight: bold;
                color: #2a2aba;
                font-size: 13px;
            }
            .c-brand span{
                display: block;
                font-size: 11px;
                font-weight: 600;
            }
            .c-desc {
                margin-top: 8px;
            }
            
            a.ad-image {
                max-width: 100%;
                text-decoration: none;
                display: block;

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
            .item-menu {
                position: absolute;
                top: 0;
                right: 0;
                .dropdown-toggle::after {
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: gray;
                    box-shadow: 0px 7px 0px gray, 0px 14px 0px gray;
                    border: 0;
                }
            }
            .c-tag {
                .badge {
                    font-weight: 500;
                    font-size: 90%;
                }
            }
            .btn-notes-notify {
                top: 5px;
                position: relative;
                left: -8px;
                padding: 5px;
                color: #fff;
            }
            .free-note-editor {
                position: absolute;
                width: 54%;
                box-shadow: 4px 4px 4px 4px #e1e1e1;
                background: #fff;
                right: -20px;
                top: 5%;
                padding: 10px;
                border-radius: 3px;
                display: none;
            }

            .free-note-editor.error textarea {
                border: 1px solid #ff0000;
            }

            section.sc-ad-footer {
                // margin-top: 5px;
                .footer-a {
                    padding: 8px;
                    align-items: center;
                    background-color: #fff;
                    display: flex;
                    justify-content: space-between;
                    ._8jh1 {
                        // flex-grow: 1;
                        margin-right: 4px;
                        overflow: hidden;
                        width: 72%;
                    }
                    
                    ._8jh2 {
                        color: #1c1e21;
                        margin-bottom: 3px;
                        font-size: 11px;
                        line-height: 14px;
                    }
                    ._8jh2, ._8jh3, ._8jh5 {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    ._8jgz ._8jh3 {
                        font-size: 9px;
                        line-height: 14px;
                    }
                    ._8jh3 {
                        color: #606770;
                    }

                    ._8jh4 {
                        color: #606770;
                        font-size: 8px;
                        line-height: 12px;
                    }
                    ._4ik5._4ik4 {
                        -webkit-box-orient: vertical;
                        display: -webkit-box;
                        float: none;
                        font-size: 11px;
                    }
                    ._8jh5 {
                        font-size: 10px;
                        margin-top: 4px;
                    }
                    ._271k {
                        background-position: 0 0;
                        border: 1px solid;
                        border-radius: 2px;
                        box-shadow: none;
                        box-sizing: border-box;
                        cursor: pointer;
                        -webkit-font-smoothing: antialiased;
                        font-weight: bold;
                        padding: 0;
                        position: relative;
                        text-shadow: none;
                        transition: all 300ms cubic-bezier(.1, .7, .1, 1), border-width 1ms;
                        transition-property: background, border-color, border-width, color;
                        vertical-align: middle;
                    }   
                }
            }
        }
    }
    .input-group {
        margin-bottom: 20px;
        .search-bar {
            height: 50px;
            border-radius: 5px;
        }
        .btn-category {
            padding: 0.8rem 0.75rem;
        }
        .catgory-menu{
            padding: 5px;
        }
    }

    ul.ul-category {
        list-style: none;
    }
    ul.ul-category li {
        left: 0;
        display: inline-block;
    }
}

#modalAddNote {
    textarea#note {
        margin-top: 0px; 
        margin-bottom: 0px; 
        height: 170px;
    }
}

#modalListNote {
    .table th, .table td {
        border-top :0;
    }
}